@page "/handicapmatrix"
<div class="handicap-matrix-container">
	<table class="handicap-matrix-table text-black">
		<thead>
			<tr>
				<th colspan="5" class="matrix-title">HANDICAP MATRIX</th>
			</tr>
			<tr>
				<th colspan="5" class="gap-cell"></th>
			</tr>
			<tr>
				<th class="diff-header">DIFFERENCE</th>
				<th class="start-header">START</th>
				<th class="gap-header"></th>
				<th class="diff-header">DIFFERENCE</th>
				<th class="start-header">START</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="diff-cell">1</td>
				<td class="start-cell">1</td>
				<td class="gap-cell"></td>
				<td class="diff-cell">10</td>
				<td class="start-cell">10</td>
			</tr>
			<tr>
				<td class="diff-cell">2</td>
				<td class="start-cell">2</td>
				<td class="gap-cell"></td>
				<td class="diff-cell">11</td>
				<td class="start-cell">11</td>
			</tr>
			<tr>
				<td class="diff-cell">3</td>
				<td class="start-cell">3</td>
				<td class="gap-cell"></td>
				<td class="diff-cell">12/13</td>
				<td class="start-cell">12</td>
			</tr>
			<tr>
				<td class="diff-cell">4</td>
				<td class="start-cell">4</td>
				<td class="gap-cell"></td>
				<td class="diff-cell">14/15</td>
				<td class="start-cell">13</td>
			</tr>
			<tr>
				<td class="diff-cell">5</td>
				<td class="start-cell">5</td>
				<td class="gap-cell"></td>
				<td class="diff-cell">16/17</td>
				<td class="start-cell">14</td>
			</tr>
			<tr>
				<td class="diff-cell">6</td>
				<td class="start-cell">6</td>
				<td class="gap-cell"></td>
				<td class="diff-cell">18/19</td>
				<td class="start-cell">15</td>
			</tr>
			<tr>
				<td class="diff-cell">7</td>
				<td class="start-cell">7</td>
				<td class="gap-cell"></td>
				<td class="diff-cell">20/21</td>
				<td class="start-cell">16</td>
			</tr>
			<tr>
				<td class="diff-cell">8</td>
				<td class="start-cell">8</td>
				<td class="gap-cell"></td>
				<td class="diff-cell">22/23/24</td>
				<td class="start-cell">17</td>
			</tr>
			<tr>
				<td class="diff-cell">9</td>
				<td class="start-cell">9</td>
				<td class="gap-cell"></td>
				<td class="diff-cell">25+</td>
				<td class="start-cell">18</td>
			</tr>
		</tbody>
	</table>
</div>
