<h2>Match rules</h2>

<div>
	<p>Starting points for the players are listed on the match cards.</p>
	<p>Matches will be best of 3 sets up to 21.</p>
	<p>The umpire tosses to see who serves first.</p>
	<p>You get 5 serves each (first set of serves depends on handicap start) if 20-20,
		then 1 serve each until someone wins by 2 points or reaches 30.</p>
	<p>If 1 set all, and a third is to be played, you change ends when
		the player with the lower starting score reaches 10</p>
</div>

<HandicapMatrixPage />
