<div class="top-row ps-3 navbar sticky-top">
	<div class="container-fluid">
		<a class="navbar-brand" href=""></a>
		<nav class="nav">
			<div class="nav-item">
				<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
					<Bi Icon="favicon.png" /> Home
				</NavLink>
			</div>

			<div class="nav-item">
				<NavLink class="nav-link" href="entries">
					<Bi Icon="person-lines-fill" /> Entries
				</NavLink>
			</div>

			<div class="nav-item">
				<NavLink class="nav-link" href="group">
					<Bi Icon="collection" /> Groups
				</NavLink>
			</div>

			<div class="nav-item">
				<NavLink class="nav-link" href="knockoutphase">
					<Bi Icon="collection" /> Knock-out
				</NavLink>
			</div>

			<div class="nav-item">
				<NavLink class="nav-link" href="summary">
					<Bi Icon="trophy-fill" /> Summary
				</NavLink>
			</div>
		</nav>
		<nav class="nav"></nav>
	</div>
</div>
