@using Smab.TTInfo.CunninghamCup.Shared.Services
@inject ITournamentService _tournamentService
@rendermode InteractiveServer
<div class="top-row ps-3 navbar sticky-top">
	<div class="container-fluid">
		<a class="navbar-brand" href=""><img src="/olop-logo-transparent.png" height="48" /></a>
		<nav class="nav">
			<CanEdit>
				<CantEdit>
					<div class="nav-item">
						<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
							<Bi Icon="favicon.png" /> Home
						</NavLink>
					</div>
				</CantEdit>
			</CanEdit>

			<CanEdit>
				<div class="nav-item">
					<NavLink class="nav-link" href="create">
						<span aria-hidden="true"><svg class="bi" fill="currentColor"><use xlink:href="bootstrap-icons.svg#pencil" /></svg></span>
						Create
					</NavLink>
				</div>

				<div class="nav-item">
					<NavLink class="nav-link" href="entries">
						<span aria-hidden="true"><svg class="bi" fill="currentColor"><use xlink:href="bootstrap-icons.svg#person-lines-fill" /></svg></span>
						Entries
					</NavLink>
				</div>
			</CanEdit>

			<div class="nav-item">
				<NavLink class="nav-link" href="group">
					<span aria-hidden="true"><svg class="bi" fill="currentColor"><use xlink:href="bootstrap-icons.svg#collection" /></svg></span>
					Groups
				</NavLink>
			</div>

			<div class="nav-item">
				<NavLink class="nav-link" href="knockout">
					<span aria-hidden="true"><svg class="bi" fill="currentColor"><use xlink:href="bootstrap-icons.svg#collection" /></svg></span>
					KO Draw
				</NavLink>
			</div>

			<div class="nav-item">
				<NavLink class="nav-link" href="knockoutphase">
					<span aria-hidden="true"><svg class="bi" fill="currentColor"><use xlink:href="bootstrap-icons.svg#collection" /></svg></span>
					KO Matches
				</NavLink>
			</div>

			<div class="nav-item">
				<NavLink class="nav-link" href="summary">
					<span aria-hidden="true"><svg class="bi" fill="currentColor"><use xlink:href="bootstrap-icons.svg#trophy-fill" /></svg></span>
					Summary
				</NavLink>
			</div>
		</nav>
		<nav class="nav">
			<CanEdit>
				<button title="Save" class="btn btn-sm btn-warning" @onclick="SaveTournament">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi-floppy" viewBox="0 0 16 16">
						<path d="M11 2H9v3h2z" />
						<path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z" />
					</svg>
				</button>
			</CanEdit>
		</nav>
	</div>
</div>
@code {
	private void SaveTournament() => _ = _tournamentService.SaveTournamentToJsonAsync();
}