@page "/edit/knockout"
@page "/edit/knockout/{KnockoutName}"
@rendermode InteractiveServer

<PageTitle>Edit Knockout - Cunningham Cup</PageTitle>

<CanEdit>
	<CantEdit>
		<div class="alert alert-danger">Permission denied</div>
	</CantEdit>
</CanEdit>

<CanEdit>
	<KnockoutPhase @rendermode="InteractiveServer"/>
</CanEdit>

@code {
	[Parameter]
	public string? KnockoutName { get; set; } = null;
}
