@page "/edit/group"
@page "/edit/group/{GroupName}"
@rendermode InteractiveServer
@inject ITournamentService _tournamentService

<PageTitle>Edit Groups - Cunningham Cup</PageTitle>

<CantEdit>
	<div class="alert alert-danger">Permission denied</div>
</CantEdit>

<CanEdit>
	<GroupDetails GroupName="@GroupName" @rendermode="InteractiveServer"/>
</CanEdit>

@code {
	[Parameter]
	public string? GroupName { get; set; } = null;
}
