h1, h2 {
	display: flex;
	justify-content: center;
}

h1, h2 {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

h3 {
	padding-top: 1rem;
}

nav {
	justify-content: space-evenly;
	display: flex;
	text-align: center;
}

table {
	max-width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
}

th {
	text-wrap: nowrap;
}

[data-withdrawn],
[data-withdrawn] td
{
	-webkit-text-decoration: line-through;
	text-decoration: line-through;
	color: var(--bs-danger, red);
}

[data-winner] {
	display: flex;
	align-items: center;
	font-weight: bold;
}

.rounded-pill {
	margin: 0.1em;
	display: inline-flex;
	justify-content: center;
	width: 1.8em;
	height: 1.8em;
	border-radius: 50%;
}

input[type='number'] {
	width: 4rem;
}


@media (min-width: 641px) {
	[data-winner]::before {
		content: "";
		display: inline-block;
		aspect-ratio: 1/1;
		width: 0.75em;
		height: 0.75em;
		border-radius: 50%;
		background-color: var(--bs-success, #28a745);
		margin-right: 0.5em;
	}
}

@media (max-width: 640px) {
	h2 {
		display: none;
	}

	table {
		font-size: small;
	}

	#summary td {
		text-wrap: nowrap;
	}

	#summary td:nth-child(2) {
		text-wrap: auto;
	}

	#matches td {
		text-wrap: nowrap;
	}

	#matches td.edit {
		text-wrap: auto;
	}

	#matches th:nth-child(1),
	#matches td:nth-child(1)
	{
		display: none;
	}

	#matches td:nth-child(2),
	#matches td:nth-child(3)
	{
		text-wrap: auto;
	}

	#matches td:nth-child(2),
	#matches td:nth-child(3)
	{
		text-wrap: auto;
	}
}

