@page "/information"

<PageTitle>Information Cunningham Cup 2025</PageTitle>

<h1>Cunningham Cup 2025</h1>

<h2>Program for the day (if all runs to plan)</h2>
<dl>
	<dt>09:15</dt>
	<dd>Registration and first set of group matches begin</dd>
	<dt>10:45</dt>
	<dd>Registration and second set of group matches begin</dd>
	<dt>12:30</dt>
	<dd>Lunch break</dd>
	<dt>13:00</dt>
	<dd>Knockout stages begin</dd>
	<dt>15:00</dt>
	<dd>Semi-Finals</dd>
	<dt>15:45</dt>
	<dd>Finals</dd>
</dl>

<h2>Tournaments</h2>

<div>
	<p>There will be 2 knockout tournaments after the group stages.</p>
	<p>The Cunningham Cup is for the top 2 players in each group, and there will 
		be a consolation knockout for those coming 3rd and 4th.</p>
</div>

<h2>Match rules</h2>

<div>
	<p>Starting points for the players are listed on the match cards.</p>
	<p>Matches will be best of 3 sets up to 21.</p>
	<p>The umpire tosses to see who serves first.</p>
	<p>You get 5 serves each (first set of serves depends on handicap start) if 20-20,
		then 1 serve each until someone wins by 2 points or reaches 30.</p>
	<p>If 1 set all, and a third is to be played, you change ends when
		the player with the lower starting score reaches 10</p>
</div>


<HandicapMatrixPage />
