[data-winner] {
	font-weight: bold;
	font-size: 1.2rem;
}

dl {
	display: grid;
	grid-template-columns: max-content auto;
	grid-column-gap: 2rem;
	grid-row-gap: 0;
}

dt {
	grid-column-start: 1;
	padding-left: 1rem;
	font-weight: normal;
}

dd {
	font-weight: normal;
	grid-column-start: 2;
}
