h1, h2 {
	display: flex;
	justify-content: center;
}

h1, h2 {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

h3 {
	padding-top: 1rem;
}

[data-winner] {
	font-weight: bold;
}

dl {
	display: grid;
	grid-template-columns: max-content auto;
	grid-column-gap: 2rem;
	grid-row-gap: 0;
}

dt {
	grid-column-start: 1;
	padding-left: 1rem;
	font-weight: normal;
}

dd {
	font-weight: normal;
	grid-column-start: 2;
}
