@page "/create"
@inject ITournamentService _tournamentService
@rendermode InteractiveServer

<PageTitle>Create Tournament</PageTitle>

<h2>Create Tournament</h2>

<EditForm Model="tournamentModel" OnValidSubmit="HandleValidSubmit">
	<DataAnnotationsValidator />
	<ValidationSummary />
	<div class="mb-3">
		<label>Tournament Name</label>
		<InputText @bind-Value="tournamentModel.Name" class="form-control" />
	</div>
	<div class="mb-3">
		<label>Date</label>
		<InputDate @bind-Value="tournamentModel.Date" class="form-control" />
	</div>
	<h3>Players</h3>
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>TTE #</th>
				<th>Handicap</th>
				<th>Withdrawn</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (PlayerEditModel player in tournamentModel.Players) {
				<tr>
					<td><InputText @bind-Value="player.Name" class="form-control" /></td>
					<td><InputNumber @bind-Value="player.TTEId" class="form-control" /></td>
					<td><InputNumber @bind-Value="player.Handicap" class="form-control" /></td>
					<td><InputCheckbox @bind-Value="player.Withdrawn" class="form-control" /></td>
					<td>
						<button type="button" class="btn btn-danger" @onclick="() => RemovePlayer(player)">Remove</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<button type="button" class="btn btn-primary" @onclick="AddPlayer">Add Player</button>
	<br /><br />
	<button type="submit" class="btn btn-success">Update tournament</button>
</EditForm>

@code {
	private TournamentEditModel tournamentModel = new()
		{
			Name = string.Empty,
			Date = DateOnly.FromDateTime(DateTime.Today)
		};

	[Parameter]
	[PersistentState]
	public Tournament? tournament { get; set; } = default;


	protected override void OnInitialized()
	{
		tournament ??= _tournamentService.GetTournament();
		tournamentModel.Name = tournament.Name;
		tournamentModel.Date = tournament.Date;
		tournamentModel.Players = tournament.Players
			.Select(p => new PlayerEditModel {
				Name = p.Value.Name,
				Handicap = p.Value.Handicap,
				Withdrawn = p.Value.WithDrawn,
				TTEId = p.Value.TTEId
			}).ToList();
	}

	private void AddPlayer()
	{
		tournamentModel.Players.Add(new PlayerEditModel { Name = string.Empty, Handicap = 0 });
		StateHasChanged();
	}

	private void RemovePlayer(PlayerEditModel player)
	{
		tournamentModel.Players.Remove(player);
		StateHasChanged();
	}

	private void HandleValidSubmit()
	{
		if (tournament is null)
		{
			tournament = Tournament.Create(tournamentModel.Name, tournamentModel.Date);
		}
		else
		{
			tournament = tournament with { Name = tournamentModel.Name, Date = tournamentModel.Date };
		}

		// Convert TournamentEditModel to Tournament
		List<Player> players = [..
	tournamentModel.Players
	.Select(p => Player.Create(p.Name, p.Handicap, p.TTEId, p.Withdrawn))];
		tournament = tournament!.AddOrUpdatePlayers([.. players]);
		tournament = tournament with
			{
				Name = tournamentModel.Name,
				Date = tournamentModel.Date
			};
		_tournamentService.AddOrUpdateTournament(tournament);
	}

	public class TournamentEditModel
	{
		[Required]
		public string Name { get; set; } = string.Empty;
		[Required]
		public DateOnly Date { get; set; } = DateOnly.FromDateTime(DateTime.Today);
		public List<PlayerEditModel> Players { get; set; } = [];
	}
	public class PlayerEditModel
	{
		[Required]
		public string Name { get; set; } = string.Empty;
		public int? Handicap { get; set; }
		public int? TTEId { get; set; }
		public bool Withdrawn { get; set; }
	}
}
