.header {
	font-size: xx-large;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	margin-top: 1rem;
	margin-bottom: 2rem;
	padding-left: 3rem;
	padding-right: 3rem;
	color: red;
	background-color: black;
}
	.header img:nth-child(1) {
		margin-right: auto;
		height: 44px;
	}

	.header img:nth-child(2) {
		margin-left: auto;
		height: 44px;
	}

.print-group-page {
	page-break-before: always;
	padding-bottom: 2rem;
}

ul {
	list-style: none;
}

.match-card {
	border: 2px solid #333;
	margin-bottom: 2rem;
	padding: 1rem;
	background: #fff;
}

.match-header {
	font-weight: bold;
	margin-bottom: 0.5rem;
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid #333;
	padding-bottom: 0.5rem;
}

.tournament-title {
	font-size: 1.2rem;
}

.match-info {
	font-size: 1rem;
}

.match-table.full-width {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	margin-bottom: 0.5rem;
}

.match-table th,
.match-table td {
	border: 1px solid #333;
	text-align: left;
	padding: 0.3rem 0.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.match-table .player-col {
	width: 30%;
}

.match-table .set-col {
	width: 8%;
}

.match-table .winner {
	width: 18%;
}

.match-footer {
	margin-bottom: 1rem;
	font-size: 1rem;
}

@media print {
	.btn,
	.mb-3,
	.m-3 {
		display: none !important;
	}

	.print-group-page {
		page-break-after: always;
	}

	.match-card {
		page-break-inside: avoid;
	}
}
